<mat-card>
  <mat-card-header>
    <mat-card-title>Listado de Cuotas</mat-card-title>
    <a [routerLink]="['/secure/fee/new']" class="button-new-header" color="primary" mat-stroked-button>
      Agregar
    </a>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="searchForm">
      <div class="form-container">
        <!--div class="form-cell-3"><mat-form-field appearance="outline">
            <mat-label>Almacen</mat-label>
            <mat-select formControlName="idBodega" required>
              <mat-option *ngFor="let warehouse of warehouses"
                [value]="warehouse.idBodega">{{warehouse.nombre}}</mat-option>
            </mat-select>
            <mat-error>
              <error-message [control]="form.idBodega" nomCampo="Almacen"></error-message>
            </mat-error>
          </mat-form-field>
        </div-->

        <div class="form-cell-3"><mat-form-field appearance="outline">
            <mat-label>Cliente</mat-label>
            <mat-select formControlName="idCliente" required>
              <mat-option *ngFor="let client of clients" [value]="client.idCliente">{{client.nombre}}</mat-option>
            </mat-select>
            <mat-error>
              <error-message [control]="form.idCliente" nomCampo="Cliente"></error-message>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-cell-4"><mat-form-field appearance="outline">
            <mat-label>Fecha de vigencia</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input formControlName="fechaDel" matStartDate placeholder="De Fecha Vigencia Inicial">
              <input formControlName="fechaAl" matEndDate placeholder="A Fecha Vigencia Final">
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
        </div>

        <div class="form-cell-2">
          <mat-checkbox formControlName="cancelados" color="primary">
            Cancelados
          </mat-checkbox>
        </div>

        <div class="form-cell-3 list-form-section">
          <button class="form-button no-left-margin" color="primary" (click)="onSearch()" mat-fab extended>
            <mat-icon>search</mat-icon> Buscar
          </button>
          <button class="form-button no-left-margin color-accent" color="accent" type="reset" mat-fab extended>
            Limpia filtros
          </button>
        </div>
      </div>
    </form>

  </mat-card-content>
</mat-card>

<div class="table-container mat-elevation-z8">
  <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 box-shadow">
    <ng-container matColumnDef="idCuota">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.idCuota }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="cliente">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.cliente }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="servicio">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Servicio </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.servicio }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fVigenciaIni">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Vigencia Inicial </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.fVigenciaIni }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fVigenciaFin">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Vigencia Final </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.fVigenciaFin }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="cuota">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Cuota </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.cuota | currency }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="aplicaIva">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Aplica IVA </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.aplicaIva ? 'Si' : 'No' }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="estatus">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Estatus </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.estatus }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <a [routerLink]="['/secure/fee/', row.idCuota]" mat-raised-button color="accent">{{row.idEstatus !== 1 ?
          'Ver' : 'Editar'}}</a>&nbsp;
        <button mat-raised-button color="warn" [disabled]="row.idEstatus !== 1"
          (click)="showConfirmDialog(row.idCuota, 3)">Cancelar</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
</div>