<mat-card>
    <mat-card-header>
        <mat-card-title>
            <a [routerLink]="['/secure/clients']" class="button-back" color="accent" mat-mini-fab>
                <mat-icon>arrow_circle_left</mat-icon>
            </a>
            {{ isEdit ? 'Detalle de cliente: ' : 'Nuevo Cliente' }} {{client.rfc}} {{ isEdit ? '-' : '' }} {{client.nombre}}
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-tab-group>
            <mat-tab label="Generales">
                <client-detail [client]="client" [isEdit]="isEdit" [countries]="countries" [states]="states"></client-detail>
            </mat-tab>
            <mat-tab label="Notariales" *ngIf="isEdit">
                <client-notarial-data [client]="client"></client-notarial-data>
            </mat-tab>
            <mat-tab label="Dom. Inspección" *ngIf="isEdit">
                <client-address [client]="client" [countries]="countries" [states]="states"></client-address>
            </mat-tab>
            <mat-tab label="Representantes" *ngIf="isEdit">
                <client-representative [client]="client"></client-representative>
            </mat-tab>
            <mat-tab label="Contactos" *ngIf="isEdit">
                <client-contact [client]="client"></client-contact>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>