<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <a [routerLink]="['/secure/letters']" class="button-back" color="accent" mat-mini-fab>
          <mat-icon>arrow_circle_left</mat-icon>
        </a>
        {{ isEdit ? 'Detalle de oficio' : 'Nuevo oficio' }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <form [formGroup]="letterForm">
        <div class="form-container">
          <div class="form-cell-3">
            <mat-form-field appearance="outline">
              <mat-label>ID</mat-label>
              <input matInput formControlName="idOficio" appCurrencyMask type="text" />
            </mat-form-field>
          </div>
          <div class="form-cell-3">
            <mat-form-field appearance="outline">
              <mat-label>Folio</mat-label>
              <input matInput formControlName="folio" type="text" />
            </mat-form-field>
          </div>
          <div class="form-cell-3">
            <mat-form-field>
              <mat-label>Fecha del oficio</mat-label>
              <input matInput formControlName="fOficio" [matDatepicker]="fOficioPicker" required>
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="fOficioPicker"></mat-datepicker-toggle>
              <mat-datepicker #fOficioPicker></mat-datepicker>
            </mat-form-field>
            <mat-error>
              <error-message [control]="form.fOficio" nomCampo="Fecha del oficio"></error-message>
            </mat-error>
          </div>
          <div class="form-cell-3">
            <mat-form-field>
              <mat-label>Fecha de presentaci&oacute;n</mat-label>
              <input matInput formControlName="fPresentacion" [matDatepicker]="fPresentacionPicker" required>
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="fPresentacionPicker"></mat-datepicker-toggle>
              <mat-datepicker #fPresentacionPicker></mat-datepicker>
            </mat-form-field>
            <mat-error>
              <error-message [control]="form.fOficio" nomCampo="Fecha de presentación"></error-message>
            </mat-error>
          </div>
          <div class="form-cell-6">
            <mat-form-field appearance="outline">
              <mat-label>Cliente</mat-label>
              <mat-select formControlName="idCliente" placeholder="Cliente" #clientSelect>
                <mat-option>
                  <ngx-mat-select-search placeholderLabel="Busca cliente"
                    noEntriesFoundLabel="No se encontraron resultados"
                    formControlName="clientFilter"></ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let client of filteredClients | async" [value]="client.idCliente">
                  {{client.nombre}}
                </mat-option>
              </mat-select>
              <mat-error>
                <error-message [control]="form.idCliente" nomCampo="Cliente"></error-message>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-cell-3">
            <mat-form-field appearance="outline">
              <mat-label>Inspector</mat-label>
              <mat-select formControlName="idEjecutivo" required>
                <mat-option *ngFor="let executive of executives"
                  [value]="executive.idEjecutivo">{{executive.nombre}}</mat-option>
              </mat-select>
              <mat-error>
                <error-message [control]="form.idEjecutivo" nomCampo="Ejecutivo"></error-message>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-cell-3">
            <mat-form-field appearance="outline">
              <mat-label>Hora Presentaci&oacute;n</mat-label>
              <input matInput formControlName="hPresentacion" type="text" />
            </mat-form-field>
          </div>
          <div class="form-cell-2">
            <mat-form-field appearance="outline">
              <mat-label>Solicitudes Por</mat-label>
              <mat-select formControlName="solicitudPor" required>
                <mat-option value="0">Norma</mat-option>
                <mat-option value="1">Pedimento</mat-option>
              </mat-select>
              <mat-error>
                <error-message [control]="form.solicitudPor" nomCampo="Solicitudes Por"></error-message>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-cell-4" *ngIf="form.solicitudPor.value === '0'">
            <mat-form-field appearance="outline">
              <mat-label>Norma oficial</mat-label>
              <mat-select formControlName="idNorma" required>
                <mat-option *ngFor="let standard of standards"
                  [value]="standard.idNorma">{{standard.nombre}}</mat-option>
              </mat-select>
              <mat-error>
                <error-message [control]="form.idNorma" nomCampo="Norma"></error-message>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-cell-4" *ngIf="form.solicitudPor.value === '1'">
            <mat-form-field appearance="outline">
              <mat-label>Pedimento</mat-label>
              <mat-select formControlName="pedimento" required>
                <mat-option *ngFor="let import of imports"
                  [value]="import">{{import}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-cell-3">
            <mat-form-field appearance="outline">
              <mat-label>Ejecutivo Auxiliar</mat-label>
              <mat-select formControlName="idFuncionario" required>
                <mat-option *ngFor="let executive of allExecutives"
                  [value]="executive.idEjecutivo">{{executive.nombre}}</mat-option>
              </mat-select>
              <mat-error>
                <error-message [control]="form.idFuncionario" nomCampo="Ejecutivo Auxiliar"></error-message>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-cell-3">
            <mat-form-field appearance="outline">
              <mat-label>Observaciones</mat-label>
              <textarea matInput formControlName="observaciones" appCurrencyMask maxlength="255" cdkTextareaAutosize
                #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="9" required></textarea>
              <mat-error>
                <error-message [control]="form.observaciones" nomCampo="Observaciones"></error-message>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-cell-4" *ngIf="isEdit">
              <button matTooltip="Exportar" class="export-pdf" mat-fab extended (click)="downloadFile(0)">
                  <mat-icon>get_app</mat-icon>PDF
              </button>
              <button matTooltip="Exportar" class="export-word" mat-fab extended (click)="downloadFile(2)">
                  <mat-icon>get_app</mat-icon>WORD
              </button>
              <button matTooltip="Exportar" class="export-writer" mat-fab extended (click)="downloadFile(1)">
                  <mat-icon>get_app</mat-icon>WRITER
              </button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Solicitudes
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="selection.isEmpty()" class="error-message">
        *El oficio debe contener al menos una solicitud
      </div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? toggleAllRows() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
            </td>
        </ng-container>
        <ng-container matColumnDef="clave">
          <th mat-header-cell *matHeaderCellDef>Solicitud</th>
          <td mat-cell *matCellDef="let element"> {{element.clave}} </td>
        </ng-container>
        <ng-container matColumnDef="fSolicitudFmt">
          <th mat-header-cell *matHeaderCellDef>Fecha de inspección</th>
          <td mat-cell *matCellDef="let element"> {{element.fSolicitudFmt}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card-content>
    <mat-card-footer>
      <button *ngIf="letter.idEstatus === 1" (click)="onSubmit()" mat-fab extended>Guardar</button>
    </mat-card-footer>
  </mat-card>
</div>