<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <a [routerLink]="['/secure/lists']" class="button-back" color="accent" mat-mini-fab>
          <mat-icon>arrow_circle_left</mat-icon>
        </a>
        {{ isEdit ? 'Detalle de lista' : 'Nueva lista' }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <form [formGroup]="listForm">
        <div class="form-container">
          <div class="form-cell-2">
            <mat-form-field appearance="outline">
              <mat-label>ID</mat-label>
              <input matInput formControlName="idLista" appCurrencyMask type="text" />
            </mat-form-field>
          </div>

          <div class="form-cell-4">
            <mat-form-field appearance="outline">
              <mat-label>Cliente</mat-label>
              <mat-select formControlName="idCliente" placeholder="Cliente" #clientSelect>
                <mat-option>
                  <ngx-mat-select-search placeholderLabel="Busca cliente"
                    noEntriesFoundLabel="No se encontraron resultados"
                    formControlName="clientFilter"></ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let client of filteredClients | async" [value]="client.idCliente">
                  {{client.nombre}}
                </mat-option>
              </mat-select>
              <mat-error>
                <error-message [control]="form.idCliente" nomCampo="Cliente"></error-message>
              </mat-error>
            </mat-form-field>
          </div>

          <!--div class="form-cell-2">
            <mat-form-field>
              <mat-label>Fecha Entrada</mat-label>
              <input matInput formControlName="fEntrada" [matDatepicker]="fListaEPicker" required>
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="fListaEPicker"></mat-datepicker-toggle>
              <mat-datepicker #fListaEPicker></mat-datepicker>
            </mat-form-field>
            <mat-error>
              <error-message [control]="form.fEntrada" nomCampo="Fecha Entrada"></error-message>
            </mat-error>
          </div-->

          <div class="form-cell-3">
            <mat-form-field>
              <mat-label>Fecha de Inspecci&oacute;n</mat-label>
              <input matInput formControlName="fInspeccion" [matDatepicker]="fListaPicker" required>
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="fListaPicker"></mat-datepicker-toggle>
              <mat-datepicker #fListaPicker></mat-datepicker>
            </mat-form-field>
            <mat-error>
              <error-message [control]="form.fInspeccion" nomCampo="Fecha de Inspección"></error-message>
            </mat-error>
          </div>

          <div class="form-cell-3">
            <mat-form-field>
              <mat-label>Fecha Desaduanamiento</mat-label>
              <input matInput formControlName="fPresentacion" [matDatepicker]="fPresentacionPicker" required>
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="fPresentacionPicker"></mat-datepicker-toggle>
              <mat-datepicker #fPresentacionPicker></mat-datepicker>
            </mat-form-field>
            <mat-error>
              <error-message [control]="form.fPresentacion" nomCampo="Fecha Desaduanamiento"></error-message>
            </mat-error>
          </div>

          <div class="form-cell-2">
            <mat-form-field appearance="outline">
              <mat-label>Servicio</mat-label>
              <mat-select formControlName="idServicio" required>
                <mat-option value="0">Constancia</mat-option>
                <mat-option value="1">Dictamen</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-error>
              <error-message [control]="form.idServicio" nomCampo="Servicio"></error-message>
            </mat-error>
          </div>

          <div class="form-cell-4">
            <mat-form-field appearance="outline">
              <mat-label>Solicitud</mat-label>
              <mat-select formControlName="idSolicitud" required>
                <mat-option *ngFor="let request of requests"
                  [value]="request.idSolicitud">{{request.clave}}</mat-option>
              </mat-select>
              <mat-error>
                <error-message [control]="form.idSolicitud" nomCampo="Solicitud"></error-message>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-cell-3">
            <mat-form-field appearance="outline">
              <mat-label>Ejecutivo</mat-label>
              <mat-select formControlName="idEjecutivo" required>
                <mat-option *ngFor="let executive of executives"
                  [value]="executive.idEjecutivo">{{executive.nombre}}</mat-option>
              </mat-select>
              <mat-error>
                <error-message [control]="form.idEjecutivo" nomCampo="Ejecutivo"></error-message>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-cell-3">
            <mat-form-field appearance="outline">
              <mat-label>Ejecutivo Auxiliar</mat-label>
              <mat-select formControlName="idEjecutivo2" required>
                <mat-option *ngFor="let executive of allExecutives"
                  [value]="executive.idEjecutivo">{{executive.nombre}}</mat-option>
              </mat-select>
              <mat-error>
                <error-message [control]="form.idEjecutivo2" nomCampo="Ejecutivo Auxiliar"></error-message>
              </mat-error>
            </mat-form-field>
          </div>

          <!--div class="form-cell-3">
            <mat-form-field appearance="outline">
              <mat-label>Instumento Medici&oacute;n</mat-label>
              <input matInput formControlName="instrumento" appCurrencyMask type="text" />
              <mat-error>
                <error-message [control]="form.instrumento" nomCampo="Instrumento Meidición"></error-message>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-cell-3">
            <mat-form-field appearance="outline">
              <mat-label>Tecnica Muestreo</mat-label>
              <input matInput formControlName="tecnica" appCurrencyMask type="text" />
              <mat-error>
                <error-message [control]="form.tecnica" nomCampo="Tecnica Muestreo"></error-message>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-cell-3">
            <mat-form-field appearance="outline">
              <mat-label>Tamaño Muestra</mat-label>
              <input matInput formControlName="muestra" appCurrencyMask type="text" />
              <mat-error>
                <error-message [control]="form.muestra" nomCampo="Tamaño Muestra"></error-message>
              </mat-error>
            </mat-form-field>
          </div-->

          <div class="form-cell-3">
            <mat-form-field appearance="outline">
              <mat-label>Producto</mat-label>
              <input matInput formControlName="producto" appCurrencyMask type="text" />
              <mat-error>
                <error-message [control]="form.producto" nomCampo="Producto"></error-message>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-cell-3">
            <mat-form-field appearance="outline">
              <mat-label>Marca</mat-label>
              <input matInput formControlName="marca" appCurrencyMask type="text" />
              <mat-error>
                <error-message [control]="form.marca" nomCampo="Marca"></error-message>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-cell-2">
            <mat-form-field appearance="outline">
              <mat-label>Modelo</mat-label>
              <input matInput formControlName="modelo" appCurrencyMask type="text" />
              <mat-error>
                <error-message [control]="form.modelo" nomCampo="Modelo"></error-message>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-cell-2">
            <mat-form-field appearance="outline">
              <mat-label>Tamaño Lote</mat-label>
              <input matInput formControlName="lote" appCurrencyMask type="text" />
              <mat-error>
                <error-message [control]="form.lote" nomCampo="Tamaño Lote"></error-message>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-cell-2">
            <mat-form-field appearance="outline">
              <mat-label>Etiquetas</mat-label>
              <input matInput formControlName="etiquetas" appCurrencyMask type="text" />
              <mat-error>
                <error-message [control]="form.etiquetas" nomCampo="Etiquetas"></error-message>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-cell-2">
            <mat-form-field appearance="outline">
              <mat-label>Presentaci&oacute;n</mat-label>
              <input matInput formControlName="presentacion" appCurrencyMask type="text" />
            </mat-form-field>
          </div>

          <div class="form-cell-2">
            <mat-form-field appearance="outline">
              <mat-label>País Origen</mat-label>
              <input matInput formControlName="pais" appCurrencyMask type="text" />
            </mat-form-field>
          </div>

          <div class="form-cell-2">
            <mat-form-field appearance="outline">
              <mat-label>Base</mat-label>
              <input matInput formControlName="base" appCurrencyMask type="text" />
            </mat-form-field>
          </div>

          <div class="form-cell-2">
            <mat-form-field appearance="outline">
              <mat-label>Altura</mat-label>
              <input matInput formControlName="altura" appCurrencyMask type="text" />
            </mat-form-field>
          </div>

          <div class="form-cell-2">
            <mat-form-field appearance="outline">
              <mat-label>Diametro</mat-label>
              <input matInput formControlName="diametro" appCurrencyMask type="text" />
            </mat-form-field>
          </div>

          <div class="form-cell-2">
            <mat-form-field appearance="outline">
              <mat-label>S.P.E.</mat-label>
              <input matInput formControlName="spe" appCurrencyMask type="text" />
            </mat-form-field>
          </div>

          <!--div class="form-cell-3">
            <mat-form-field appearance="outline">
              <mat-label>Medidas</mat-label>
              <input matInput formControlName="medidas" appCurrencyMask type="text" />
            </mat-form-field>
          </div>

          <div class="form-cell-3">
            <mat-form-field appearance="outline">
              <mat-label>Agrupaci&oacute;n</mat-label>
              <input matInput formControlName="agrupacion" appCurrencyMask type="text" />
            </mat-form-field>
          </div-->

          <div class="form-cell-4" *ngIf="isEdit">
              <button matTooltip="Exportar" class="export-pdf" mat-fab extended (click)="downloadFile(0)">
                  <mat-icon>get_app</mat-icon>PDF
              </button>
              <button matTooltip="Exportar" class="export-word" mat-fab extended (click)="downloadFile(2)">
                  <mat-icon>get_app</mat-icon>WORD
              </button>
              <button matTooltip="Exportar" class="export-writer" mat-fab extended (click)="downloadFile(1)">
                  <mat-icon>get_app</mat-icon>WRITER
              </button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="Detalle Mercancia">
          <div *ngIf="selection.isEmpty()" class="error-message">
            *La lista debe contener al menos un detalle
          </div>
          <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? toggleAllRows() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? toggleRow(row) : null"
                  [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
              </td>
            </ng-container>

            <ng-container *ngIf="form.idServicio.value == 1" matColumnDef="SubFolio">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>SubFolio</th>
              <td mat-cell *matCellDef="let element"> {{element.FolioSub}} </td>
            </ng-container>

            <ng-container matColumnDef="Marca">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Marca</th>
              <td mat-cell *matCellDef="let element"> {{element.Marca}} </td>
            </ng-container>

            <ng-container matColumnDef="Producto">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Producto</th>
              <td mat-cell *matCellDef="let element"> {{element.Producto}} </td>
            </ng-container>

            <ng-container matColumnDef="Modelo">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Modelo</th>
              <td mat-cell *matCellDef="let element"> {{element.Modelo}} </td>
            </ng-container>

            <ng-container matColumnDef="UMC">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>UMC</th>
              <td mat-cell *matCellDef="let element"> {{element.UMC}} </td>
            </ng-container>

            <ng-container matColumnDef="Cantidad">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</th>
              <td mat-cell *matCellDef="let element"> {{element.Cantidad}} </td>
            </ng-container>

            <ng-container matColumnDef="Etiquetas">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Etiquetas</th>
              <td mat-cell *matCellDef="let element"> {{element.Etiquetas}} </td>
            </ng-container>

            <ng-container matColumnDef="Pais">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Pa&iacute;s</th>
              <td mat-cell *matCellDef="let element"> {{element.Pais}} </td>
            </ng-container>

            <ng-container *ngIf="form.idServicio.value == 1" matColumnDef="Fraccion">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Fracci&oacute;n</th>
              <td mat-cell *matCellDef="let element"> {{element.Fraccion}} </td>
            </ng-container>

            <ng-container matColumnDef="Saldo">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Saldo</th>
              <td mat-cell *matCellDef="let element"> {{element.Saldo}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </mat-tab>
        <mat-tab label="Observaciones y Anotaciones">
          <form [formGroup]="listForm">
            <div class="form-container">
              <div class="form-cell-6">
                <mat-form-field appearance="outline">
                  <mat-label>Observaciones</mat-label>
                  <textarea matInput formControlName="observaciones" appCurrencyMask maxlength="255" cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="4"></textarea>
                </mat-form-field>
              </div>
              <div class="form-cell-6">
                <mat-form-field appearance="outline">
                  <mat-label>Puntos</mat-label>
                  <textarea matInput formControlName="puntos" appCurrencyMask maxlength="255" cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="4"></textarea>
                </mat-form-field>
              </div>
              <div class="form-cell-6">
                <mat-form-field appearance="outline">
                  <mat-label>Contenido</mat-label>
                  <textarea matInput formControlName="contenido" appCurrencyMask maxlength="255" cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="4"></textarea>
                </mat-form-field>
              </div>
              <div class="form-cell-6">
                <mat-form-field appearance="outline">
                  <mat-label>Resumen</mat-label>
                  <textarea matInput formControlName="resumen" appCurrencyMask maxlength="255" cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="4"></textarea>
                </mat-form-field>
              </div>
            </div>
          </form>
        </mat-tab>
        <mat-tab label="Puntos de la Norma">
          <div class="table-container mat-elevation-z8">
            <mat-table [dataSource]="standardDetails" matSort class="mat-elevation-z8 box-shadow">
              <ng-container matColumnDef="contenido">
                <mat-header-cell *matHeaderCellDef>Especificaciones</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.contenido }} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="dictaminacion">
                <mat-header-cell *matHeaderCellDef>
                  <mat-radio-group aria-label="Dictaminación" [(ngModel)]="result">
                    <mat-radio-button value="C" (click)="updateResult('C')">C</mat-radio-button>
                    <mat-radio-button value="NC" (click)="updateResult('NC')">NC</mat-radio-button>
                    <mat-radio-button value="NA" (click)="updateResult('NA')">NA</mat-radio-button>
                  </mat-radio-group>
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <mat-radio-group aria-label="" [(ngModel)]="row.dictaminacion" (ngModelChange)="updateSingleResult()">
                    <mat-radio-button value="C">C</mat-radio-button>
                    <mat-radio-button value="NC">NC</mat-radio-button>
                    <mat-radio-button value="NA">NA</mat-radio-button>
                  </mat-radio-group>
                  <div *ngIf="row.showError" class="error-message error-message-small">
                    *Valor requerido
                  </div>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="observaciones">
                <mat-header-cell *matHeaderCellDef>Observaciones</mat-header-cell>
                <mat-cell *matCellDef="let row" class="display-block">
                  <input class="list-comments-input" type="text" [(ngModel)]="row.observaciones" />
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumnsStandard; sticky: true"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumnsStandard"></mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
    <mat-card-footer>
      <button *ngIf="list.idEstatus === 1" (click)="onSubmit()" mat-fab extended>Guardar</button>
    </mat-card-footer>
  </mat-card>
</div>