<mat-card>
  <mat-card-content *ngIf="isListMode">
    <a (click)="isListMode = !isListMode" class="float-left" color="primary" mat-fab extended>
      Nuevo
    </a>
    <div class="float-right">
      <mat-form-field class="table-filter" appearance="outline">
        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-content *ngIf="!isListMode">
    <form [formGroup]="clientAddressForm">
      <div class="form-container">
        <div class="form-cell-3">
          <mat-form-field appearance="outline">
            <mat-label>ID</mat-label>
            <input matInput formControlName="idLugar" appCurrencyMask type="text" />
          </mat-form-field>
        </div>
        <div class="form-cell-3">
          <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre" type="text" required />
            <mat-error>
              <error-message nomCampo="Nombre"></error-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-cell-3">
          <mat-checkbox formControlName="prioridad" color="primary">Prioridad</mat-checkbox>
        </div>
        <div class="form-cell-3">
          <mat-form-field appearance="outline">
            <mat-label>Calle</mat-label>
            <input matInput formControlName="calle" type="text" required />
            <mat-error>
              <error-message nomCampo="Calle"></error-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-cell-3">
          <mat-form-field appearance="outline">
            <mat-label>N&uacute;mero</mat-label>
            <input matInput formControlName="numero" type="text" />
            <mat-error>
              <error-message nomCampo="Número"></error-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-cell-3">
          <mat-form-field appearance="outline">
            <mat-label>Colonia</mat-label>
            <input matInput formControlName="colonia" type="text" />
            <mat-error>
              <error-message nomCampo="Colonia"></error-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-cell-3">
          <mat-form-field appearance="outline">
            <mat-label>Municipio</mat-label>
            <input matInput formControlName="municipio" type="text" required />
            <mat-error>
              <error-message nomCampo="Municipio"></error-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-cell-3">
            <mat-form-field appearance="outline">
                <mat-label>Estado</mat-label>
                <mat-select formControlName="idEstado" required>
                    <mat-option *ngFor="let state of states"
                        [value]="state.idEstado">{{state.nombre}}</mat-option>
                </mat-select>
                <mat-error>
                    <error-message nomCampo="Estado"></error-message>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-cell-3">
            <mat-form-field appearance="outline">
                <mat-label>Pa&iacute;s</mat-label>
                <mat-select formControlName="idPais" required>
                    <mat-option *ngFor="let country of countries"
                        [value]="country.idPais">{{country.nombre}}</mat-option>
                </mat-select>
                <mat-error>
                    <error-message nomCampo="País"></error-message>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-cell-3">
          <mat-form-field appearance="outline">
            <mat-label>C.P.</mat-label>
            <input matInput formControlName="cp" type="text" required/>
            <mat-error>
              <error-message nomCampo="C.P."></error-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-cell-2">
          <mat-form-field appearance="outline">
            <mat-label>No. Almacen</mat-label>
            <input matInput formControlName="idBodega" type="number" />
            <mat-error>
              <error-message nomCampo="No. Almacen"></error-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-cell-2">
            <mat-form-field appearance="outline">
                <mat-label>Deposito</mat-label>
                <mat-select formControlName="tipoDeposito" required>
                    <mat-option value="1">Fiscal</mat-option>
                    <mat-option value="2">Nacional</mat-option>
                    <mat-option value="3">Ambos</mat-option>
                </mat-select>
                <mat-error>
                    <error-message nomCampo="Deposito"></error-message>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-cell-2">
          <mat-checkbox formControlName="active" color="primary">Activo</mat-checkbox>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-footer *ngIf="!isListMode">
      <button class="form-button" (click)="onCancel()" color="warn" mat-fab extended>Cancelar</button>
      <button class="form-button" (click)="onSubmit()" mat-fab extended>Guardar</button>
  </mat-card-footer>
</mat-card>

<div class="table-container mat-elevation-z8" *ngIf="isListMode">
  <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 box-shadow">
    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.nombre }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="calle">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Tel&eacute;fono </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.calle }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="numero">
      <mat-header-cell *matHeaderCellDef mat-sort-header> N&uacute;mero </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.numero }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="prioridad">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Prioridad </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.prioridad }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="idEstatus">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Estatus </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.idEstatus === 1 ? 'Activo' : 'Inactivo' }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <a (click)="onEditAddress(row)" mat-raised-button color="primary">Editar</a>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
</div>