<div>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <a [routerLink]="['/secure/rulings']" class="button-back" color="accent" mat-mini-fab>
                    <mat-icon>arrow_circle_left</mat-icon>
                </a>
                Gestión de dictamenes
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="rulingForm">
                <div class="form-container">
                    <div class="form-cell-2"><mat-form-field appearance="outline">
                            <mat-label>ID</mat-label>
                            <input matInput formControlName="idDictamen" appCurrencyMask type="text" />
                        </mat-form-field>
                    </div>
                    <div class="form-cell-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Folio</mat-label>
                            <input matInput formControlName="clave" type="text" />
                        </mat-form-field>
                    </div>
                    <div class="form-cell-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Cliente</mat-label>
                          <mat-select formControlName="idCliente" placeholder="Cliente" #clientSelect>
                            <mat-option>
                              <ngx-mat-select-search placeholderLabel="Busca cliente"
                                noEntriesFoundLabel="No se encontraron resultados"
                                formControlName="clientFilter"></ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let client of filteredClients | async" [value]="client.idCliente">
                              {{client.nombre}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="form-cell-3">
                        <mat-form-field>
                            <mat-label>Fecha de dictamen</mat-label>
                            <input matInput formControlName="fDictamen" [matDatepicker]="fDictamenPicker" required>
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="fDictamenPicker"></mat-datepicker-toggle>
                            <mat-datepicker #fDictamenPicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="form-cell-3">
                      <mat-label>Tipo de servicio</mat-label>
                      <br>
                      <mat-radio-group formControlName="tipoServicio" aria-label="Select an option">
                        <mat-radio-button value="0">Constancia</mat-radio-button>
                        <mat-radio-button value="1">Dictamen</mat-radio-button>
                      </mat-radio-group>
                    </div>
                    <div class="form-cell-6">
                        <mat-form-field appearance="outline">
                            <mat-label>No. Solicitud-Lista</mat-label>
                            <mat-select formControlName="idLista" required>
                                <mat-option *ngFor="let request of requests"
                                    [value]="request.idLista">{{request.claveSolicitud}}</mat-option>
                            </mat-select>
                            <mat-error>
                                <error-message nomCampo="No. Solicitud-Lista"></error-message>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-cell-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Inspector</mat-label>
                            <mat-select formControlName="idEjecutivo" required>
                                <mat-option *ngFor="let executive of executives"
                                    [value]="executive.idEjecutivo">{{executive.nombre}}</mat-option>
                            </mat-select>
                            <mat-error>
                                <error-message nomCampo="Ejecutivo"></error-message>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-cell-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Responsable</mat-label>
                            <mat-select formControlName="idFuncionario" required>
                                <mat-option *ngFor="let official of officials"
                                    [value]="official.idFuncionario">{{official.nombre}}</mat-option>
                            </mat-select>
                            <mat-error>
                                <error-message nomCampo="Funcionario"></error-message>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-cell-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Dictaminación</mat-label>
                            <input matInput formControlName="dictaminacion" type="text" />
                        </mat-form-field>
                    </div>
                    <div class="form-cell-9">
                        <mat-form-field appearance="outline">
                            <mat-label>Observaciones</mat-label>
                            <textarea matInput formControlName="observaciones" maxlength="255"
                                cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                                cdkAutosizeMaxRows="9"></textarea>
                            <mat-error>
                                <error-message nomCampo="Observaciones"></error-message>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-cell-4" *ngIf="isEdit">
                        <button matTooltip="Exportar" class="export-pdf" mat-fab extended (click)="downloadFile(0)">
                            <mat-icon>get_app</mat-icon>PDF
                        </button>
                        <button matTooltip="Exportar" class="export-word" mat-fab extended (click)="downloadFile(2)">
                            <mat-icon>get_app</mat-icon>WORD
                        </button>
                        <button matTooltip="Exportar" class="export-writer" mat-fab extended (click)="downloadFile(1)">
                            <mat-icon>get_app</mat-icon>WRITER
                        </button>
                    </div>
                </div>
            </form>
        </mat-card-content>
        <mat-card-footer>
            <button class="form-button" (click)="onSubmit()" mat-fab extended>Guardar</button>
        </mat-card-footer>
    </mat-card>
</div>