<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Gestión de oficios</mat-card-title>
      <a [routerLink]="['/secure/letter/new']" class="button-new-header" color="primary" mat-stroked-button>
        Nuevo Oficio
      </a>
    </mat-card-header>
    <mat-card-content>      
      <form [formGroup]="searchForm" class="form-container">
        <div class="form-cell-3"><mat-form-field appearance="outline">
            <mat-label>Fecha de Envio</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input formControlName="fechaDel" matStartDate placeholder="Fecha Inicio">
              <input formControlName="fechaAl" matEndDate placeholder="Fecha Fin">
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
        </div>
        <div class="form-cell-3">
          <mat-form-field appearance="outline">
            <mat-label>Cliente</mat-label>
            <mat-select formControlName="cliente" placeholder="Cliente" #clientSelect>
              <mat-option>
                <ngx-mat-select-search placeholderLabel="Busca cliente"
                  noEntriesFoundLabel="No se encontraron resultados"
                  formControlName="clientFilter"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let client of filteredClients | async" [value]="client.idCliente">
                {{client.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-cell-3 list-form-section">
          <button class="form-button no-left-margin" color="primary" (click)="onSearch()" mat-fab extended>
            <mat-icon>search</mat-icon> Buscar
          </button>
          <button class="form-button no-left-margin" color="accent" type="reset" mat-fab extended>
            Limpia filtros
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <div class="table-container mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 box-shadow">
      <ng-container matColumnDef="Folio">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Folio </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.Folio }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="NomCliente">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.NomCliente }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Norma">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Inspector </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.Norma }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="FOficio">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Oficio </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.FOficio }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">
          <a [routerLink]="['/secure/letter/', row.IdOficio]" mat-raised-button color="primary">Editar</a>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
  </div>
</div>